{
    admin off
    auto_https disable_redirects
    default_sni {$CHAT_SITE_SNI:47.100.248.114}
}

{$CHAT_SITE_ADDR:https://47.100.248.114:8443} {
    tls {$CHAT_TLS_CERT:/home/saudade/e2ee-chat/certs/fullchain.crt} {$CHAT_TLS_KEY:/home/saudade/e2ee-chat/certs/private.key}
    encode gzip

    @api path /api/*
    @ws path /ws

    handle @api {
        reverse_proxy 127.0.0.1:8081
    }

    handle @ws {
        reverse_proxy 127.0.0.1:8081
    }

    handle {
        root * /home/saudade/e2ee-chat/frontend/dist
        try_files {path} /index.html
        file_server
    }
}
